.DS_Store
**/node_modules
**/dist
**/.npm/
.env

# IDE
**/.vscode
backend/.vscode
frontend/.vscode
**/.idea

# Logs
**/npm-debug.log*
**/yarn-debug.log*
**/_logs

**/.vite

Sujet.pdf

# build files
**/main.css
**/main.css.map


/nginx/cert