@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
/* tags */
:root {
  --primary: #C4997C;
  --primary-light: #CEAA93;
  --secondary: #EEE7DA;
  --secondary-light: #F2F1EB;
  --success: #88AB8E;
  --warning: #F2CC8F;
  --danger: #DF7D7D;
  --danger-light: #DD9B9D;
  --dark-blue: #1f2345;
  --dark-blue-dark: #111428;
  --xl: 1280px;
  --lg: 1024px;
  --md: 768px;
  --sm: 640px;
  --tag-news: #FF9D00;
  --tag-tutorial: #4e52cc;
  --tag-announcement: #E07A5F;
  --tag-news-bg: #F2CC8F60;
  --tag-tutorial-bg: #0f138060;
  --tag-announcement-bg: #E07A5F60;
  --background: 0 0% 100%;
  --foreground: 222.2 84% 4.9%;
  --muted: 210 40% 96.1%;
  --muted-foreground: 215.4 16.3% 46.9%;
  --popover: 0 0% 100%;
  --popover-foreground: 222.2 84% 4.9%;
  --card: 0 0% 100%;
  --card-foreground: 222.2 84% 4.9%;
  --border: 214.3 31.8% 91.4%;
  --input: 214.3 31.8% 91.4%;
  --primary-foreground: 210 40% 98%;
  --secondary-foreground: 222.2 47.4% 11.2%;
  --accent: 210 40% 96.1%;
  --accent-foreground: 222.2 47.4% 11.2%;
  --destructive: 0 84.2% 60.2%;
  --destructive-foreground: 210 40% 98%;
  --ring: 222.2 84% 4.9%;
  --radius: 0.5rem;
  --vis-tooltip-background-color: none !important;
  --vis-tooltip-border-color: none !important;
  --vis-tooltip-text-color: none !important;
  --vis-tooltip-shadow-color: none !important;
  --vis-tooltip-backdrop-filter: none !important;
  --vis-tooltip-padding: none !important;
  --vis-primary-color: var(--primary);
  /* change to any hsl value you want */
  --vis-secondary-color: 160 81% 40%;
  --vis-text-color: var(--muted-foreground);
}

#app {
  margin: 0 auto;
  font-weight: normal;
}

body {
  font-size: 1rem;
  background-color: white;
  font-family: "Poppins", sans-serif;
  color: var(--dark-blue);
}

html.dark body {
  background-color: var(--dark-blue);
  color: white;
}

h1 {
  font-size: 2.5rem;
  font-weight: bold;
  margin: 1rem 0;
  text-transform: uppercase;
}

header h1 {
  font-size: 1.5rem;
  margin: 0;
}

b {
  @apply font-semibold;
}

/* tags */
@layer components {
  .switch {
    @apply relative inline-block w-14 h-8;
  }
  .switch input {
    @apply opacity-0 w-0 h-0;
  }
  .slider {
    @apply absolute cursor-pointer top-0 left-0 right-0 bottom-0 bg-secondary transition duration-500;
  }
  .slider:before {
    background-image: url("/public/sun.svg");
    background-size: 1.5rem;
    background-repeat: no-repeat;
    background-position: center;
  }
  .slider:before {
    @apply absolute content-[""] h-6 w-6 left-1 bottom-1 bg-white transition duration-500;
  }
  #dark-mode-toggle.dark .slider {
    @apply bg-dark-blue;
  }
  #dark-mode-toggle:focus + .slider {
    @apply shadow;
  }
  #dark-mode-toggle.dark .slider:before {
    @apply translate-x-6;
  }
  #dark-mode-toggle.dark .slider:before {
    background-image: url("/public/moon-stars.svg");
  }
  /* Rounded sliders */
  .slider.round {
    @apply rounded-full;
  }
  .slider.round:before {
    @apply rounded-full;
  }
}
@layer components {
  .btn {
    @apply flex-shrink-0 font-medium rounded-md text-base gap-x-2.5 px-3.5 py-2.5 shadow-sm inline-flex
    ring-1 ring-gray-200 dark:ring-gray-700 hover:ring-gray-300 dark:hover:ring-gray-500;
  }
  .btn--small {
    @apply text-sm gap-x-1.5 px-2.5 py-1.5 leading-6;
  }
  .btn--primary {
    @apply bg-primary hover:bg-primary-light text-white dark:text-gray-900;
  }
  .btn--ghost {
    @apply hover:text-dark-blue-dark dark:text-gray-500 dark:hover:text-white hover:drop-shadow-2xl;
  }
  .btn--cancel {
    @apply text-gray-400 hover:text-dark-blue-dark dark:text-gray-500 dark:hover:text-white hover:drop-shadow-2xl;
  }
  .btn--danger {
    @apply bg-danger hover:bg-danger-light text-white dark:text-gray-900;
  }
  .btn--disabled {
    @apply bg-gray-200 text-gray-400 dark:bg-gray-800 dark:text-gray-500 cursor-not-allowed hover:bg-gray-200 hover:text-gray-400 dark:hover:text-gray-500 dark:hover:bg-gray-800;
  }
}
@layer components {
  .menu-link {
    @apply font-medium hover:text-secondary-light dark:hover:text-dark-blue;
  }
  .menu-item {
    @apply flex flex-col lg:flex-row justify-center items-center min-h-12 text-center min-w-24 bg-primary hover:bg-primary-light;
  }
  .menu-item .menu-subitem {
    @apply z-10 relative lg:w-auto w-full;
  }
  .menu-item a, .menu-item span {
    @apply px-4;
  }
  li:hover > .menu-submenu, .menu-submenu:hover, li:focus > .menu-submenu, .menu-submenu:focus {
    @apply lg:top-12 block lg:pt-4;
  }
  ul.menu-submenu {
    @apply hidden transition-all duration-300 min-w-full z-20;
  }
  .parent-item {
    @apply p-0;
  }
  .parent-item > a, .parent-item > span {
    @apply h-12 leading-12;
  }
  .menu-subitem:nth-child(1):before {
    @apply lg:content-[""] absolute top-0 left-1/2 -mt-2 w-4 h-4 bg-primary transform -translate-x-1/2 rotate-45 z-0;
  }
  .menu-subitem:nth-child(1):before:hover {
    @apply bg-primary-light;
  }
}
@layer components {
  .card {
    @apply divide-y divide-gray-200 dark:divide-gray-800
    dark:bg-dark-blue-dark rounded-md
    ring-1 ring-gray-200 dark:ring-gray-800 hover:ring-gray-300 dark:hover:ring-gray-700;
  }
  .card--content {
    @apply xl:px-4 xl:py-5 sm:p-6;
  }
  .card--footer {
    @apply xl:px-4 xl:py-2 sm:p-6 bg-secondary-light dark:bg-[#0c0816];
  }
}
@layer components {
  .tag {
    @apply flex items-center border rounded-md w-min px-2 py-1 text-xs font-semibold;
  }
}
@layer components {
  .modal {
    @apply absolute m-auto top-1/3 left-0 right-0 w-1/4 min-h-44
    bg-white dark:bg-dark-blue-dark shadow-lg rounded-md p-4
    flex flex-col justify-between items-center
    ring-1 ring-inset ring-gray-300 dark:ring-gray-700;
  }
  .modal--md {
    @apply w-1/3;
  }
  .modal footer {
    @apply border-t border-gray-300 dark:border-gray-700 w-full flex justify-between items-center p-2;
  }
  .message--success {
    @apply text-green-500 dark:text-green-400;
  }
  .message--error {
    @apply text-red-500 dark:text-red-400;
  }
}
@layer components {
  .form {
    @apply bg-white dark:bg-dark-blue-dark shadow-md rounded-lg p-8 flex flex-col lg:flex-row lg:flex-wrap justify-between border-t border-t-gray-50 dark:border-t-gray-800;
  }
  .form-item {
    @apply mb-6 flex flex-col w-full lg:w-4/5;
  }
  .form-item label {
    @apply font-semibold pl-2 mb-2;
  }
  .form-item input, .form-item textarea, .form-item select {
    @apply p-2 rounded-lg dark:bg-dark-blue border dark:disabled:text-gray-500 border-gray-200 dark:border-gray-800 lg:w-1/2 disabled:cursor-not-allowed;
  }
  .form-item.col-0 {
    @apply w-full items-center;
  }
  .form-item.col-0 label, .form-item.col-0 input, .form-item.col-0 textarea, .form-item.col-0 select {
    @apply w-1/2;
  }
  .form-item.col-2 {
    @apply w-full lg:w-[40%];
  }
  .form-item.col-2 label, .form-item.col-2 input, .form-item.col-2 textarea, .form-item.col-2 select {
    @apply w-full;
  }
}
@layer components {
  .wrapper {
    @apply relative;
  }
  .wrapper--loading::before {
    @apply content-[""] top-0 bottom-0 left-0 right-0 absolute inset-0 bg-white bg-opacity-50 flex items-center justify-center dark:bg-black dark:bg-opacity-50;
  }
}
@layer components {
  .spinner {
    @apply absolute top-0 bottom-0 left-0 right-0 inset-0 flex items-center justify-center;
  }
}
@layer components {
  .cart-modal {
    @apply fixed lg:-right-[17px] top-0 bottom-0 min-h-screen h-full
    overflow-y-scroll
    w-full bg-white dark:bg-dark-blue lg:w-2/5 p-4 z-50
    drop-shadow-2xl
    flex flex-col gap-4 justify-between;
  }
  .cart-modal--mask {
    @apply fixed top-0 left-0 right-0 bottom-0
      w-screen h-screen bg-gray-950 bg-opacity-60 z-50;
  }
  .cart-modal--content {
    @apply flex flex-col gap-4 border rounded-sm flex-1 dark:border-gray-700;
  }
  .cart-modal--content ul {
    @apply [&>*:nth-child(odd)]:bg-white [&>*:nth-child(odd)]:dark:bg-dark-blue [&>*:nth-child(even)]:bg-gray-100 [&>*:nth-child(even)]:dark:bg-dark-blue-dark;
  }
  .cart-modal--item {
    @apply grid grid-cols-3 p-4 w-full;
  }
  .cart-modal--item-name {
    @apply text-xl font-bold;
  }
  .cart-modal--item-prices {
    @apply flex flex-col justify-start items-start;
  }
  .cart-modal--item-price {
    @apply flex justify-between items-start w-full;
  }
  .cart-modal--total {
    @apply flex flex-col gap-4 p-4 border rounded-sm dark:border-gray-700;
  }
  .cart-modal--total h2 {
    @apply text-xl font-bold;
  }
  .cart-modal--total-sub {
    @apply flex justify-between items-center;
  }
  .cart-modal--total-vat {
    @apply flex justify-between items-center;
  }
  .cart-modal--total-vat h2 {
    @apply font-normal;
  }
  .cart-modal--total-total {
    @apply flex justify-between items-center border-t pt-4 dark:border-gray-700;
  }
  .cart-modal--total-total h2 {
    @apply text-2xl;
  }
  .cart-modal--total-total p {
    @apply text-2xl font-bold;
  }
}
@layer components {
  .number-field {
    @apply flex justify-between items-center gap-2
    bg-white dark:bg-dark-blue dark:border-gray-700
    border rounded-sm px-2
    focus-within:ring-2 focus-within:ring-ring focus-within:ring-offset-2 dark:focus-within:ring-offset-dark-blue;
  }
  .number-field input {
    @apply text-center h-min w-12
        bg-white dark:bg-dark-blue
      focus:outline-0;
  }
  .number-field button {
    @apply font-medium text-xl;
  }
}
@layer components {
  .tab-container {
    @apply flex justify-center items-center p-4 mt-12;
  }
  .tab {
    @apply text-gray-400;
  }
  .tab--active {
    @apply text-current border-b-4 border-current;
  }
  .tab button {
    @apply px-4 py-2 font-medium;
  }
}
@layer components {
  .notification {
    @apply fixed bottom-2 right-2
    p-4 mx-auto text-center
    rounded-md border border-gray-200 bg-white dark:bg-dark-blue shadow-md;
  }
  .notification--success {
    @apply border-success;
  }
  .notification--error {
    @apply border-danger-light;
  }
  .notification p {
    @apply flex items-center justify-center gap-4;
  }
}
@layer components {
  .tile {
    @apply bg-white dark:bg-dark-blue-dark shadow-lg p-8 rounded-md
    flex flex-col justify-between items-center
    border-t border-t-gray-50 dark:border-t-gray-800;
  }
  .tile-grid {
    @apply grid grid-cols-2 grid-rows-2 gap-4;
  }
  .tile-bordered {
    @apply border-b-8 border-b-dark-blue dark:border-b-white
    hover:bg-gray-50 dark:hover:bg-gray-950;
  }
  .tile-link {
    @apply flex flex-col gap-4 w-full justify-between items-center;
  }
}
@layer components {
  .avatar {
    @apply w-52 h-52 rounded-full border-8 border-white drop-shadow-lg bg-gray-50 dark:bg-dark-blue;
  }
  .avatar--small {
    @apply w-32 h-32;
  }
}
@layer components {
  .account-side-menu {
    @apply w-full;
  }
  .account-side-menu li {
    @apply border-b w-full h-full;
  }
  .account-side-menu li a {
    @apply h-full py-4 px-2 flex justify-between items-center
      hover:bg-gray-50 dark:hover:bg-gray-950;
  }
  .account-side-menu li a.router-link-active {
    @apply bg-gray-50 dark:bg-gray-950;
  }
}
@layer components {
  .search {
    @apply fixed top-0 left-0 right-0 bottom-0
    bg-white dark:bg-dark-blue z-50 px-4 lg:px-12
    flex items-center justify-start flex-col;
  }
  .search-close {
    @apply btn rounded-tl-none rounded-tr-none;
  }
  .search-bar {
    @apply w-full flex relative justify-center mt-8;
  }
  .search-input {
    @apply border-b border-gray-300 focus:outline-0 focus:border-primary w-full
    px-4 py-2 pr-10 bg-transparent;
  }
  .search-button {
    @apply border-b border-gray-300 hover:border-primary
    px-4 py-2;
  }
  .search-button:hover svg {
    @apply stroke-primary;
  }
  .search-content {
    @apply mt-4 bg-gray-100 dark:bg-dark-blue-dark shadow-lg z-10 p-4 overflow-y-auto w-full
    border border-gray-300 dark:border-gray-700 rounded-lg;
    max-height: calc(100vh - 150px);
  }
  .search-filters {
    @apply flex flex-wrap justify-start gap-4;
  }
  .search-results {
    @apply grid lg:grid-cols-3 md:grid-cols-2 gap-4;
  }
}
@layer components {
  .cookie-banner {
    @apply fixed bottom-0 left-0 right-0
    bg-white dark:bg-dark-blue text-dark-blue dark:text-white p-4
    border-t border-gray-200 dark:border-gray-800;
  }
}
@layer components {
  .custom-table {
    @apply w-full min-w-full overflow-hidden
    border-separate border-spacing-0 border border-gray-300 dark:border-gray-950;
  }
  .custom-table thead th, .custom-table tbody tr td {
    @apply p-2;
  }
  .custom-table th:not(:last-child), .custom-table td:not(:last-child) {
    @apply border-r border-gray-200 dark:border-gray-900;
  }
  .custom-table thead > tr > th,
  .custom-table thead > tr:not(:last-child) > td,
  .custom-table tbody > tr:not(:last-child) > th,
  .custom-table tbody > tr > td,
  .custom-table tfoot > tr:not(:last-child) > th,
  .custom-table tfoot > tr:not(:last-child) > td,
  .custom-table tr:not(:last-child) > td,
  .custom-table tr:not(:last-child) > th,
  .custom-table thead:not(:last-child),
  .custom-table tbody:not(:last-child),
  .custom-table tfoot:not(:last-child) {
    @apply border-b border-gray-200 dark:border-gray-900;
  }
  .custom-table thead {
    @apply bg-primary-light;
  }
  .custom-table tbody tr {
    @apply bg-white dark:bg-dark-blue;
  }
  .custom-table tbody tr:nth-child(even) {
    @apply bg-gray-100 dark:bg-dark-blue-dark;
  }
  .custom-table tfoot {
    @apply bg-gray-300 dark:bg-dark-blue-dark;
  }
  .custom-table select {
    @apply bg-white dark:bg-dark-blue;
  }
}/*# sourceMappingURL=input.css.map */