<footer style="
background: #1f2345;
color: white;
padding: 30px 15px;
font-family: Arial, sans-serif;
max-width: 640px;
margin: auto;">
    <p><small>Ce message a été envoyé automatiquement. Merci de ne pas y répondre.</small></p>
    <p><small>Ce message, ainsi que toutes les pièces jointes sont confidentiels.</small></p>
    <p><small>Si vous avec reçu ce message par erreur, merci de nous avertir immédiatement et de détruire ce
            message.</small></p>
    <p><small>© 2024 BoxToBe. Tous droits réservés.</small></p>
</footer>
</body>

</html>