@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
/* tags */
:root {
  --primary: #C4997C;
  --primary-light: #CEAA93;
  --secondary: #EEE7DA;
  --secondary-light: #F2F1EB;
  --success: #88AB8E;
  --warning: #F2CC8F;
  --danger: #DF7D7D;
  --danger-light: #DD9B9D;
  --dark-blue: #1f2345;
  --dark-blue-dark: #111428;
  --xl: 1280px;
  --lg: 1024px;
  --md: 768px;
  --sm: 640px;
  --tag-news: #FF9D00;
  --tag-tutorial: #4e52cc;
  --tag-announcement: #E07A5F;
  --tag-news-bg: #F2CC8F60;
  --tag-tutorial-bg: #0f138060;
  --tag-announcement-bg: #E07A5F60;
  --background: 0 0% 100%;
  --foreground: 222.2 84% 4.9%;
  --muted: 210 40% 96.1%;
  --muted-foreground: 215.4 16.3% 46.9%;
  --popover: 0 0% 100%;
  --popover-foreground: 222.2 84% 4.9%;
  --card: 0 0% 100%;
  --card-foreground: 222.2 84% 4.9%;
  --border: 214.3 31.8% 91.4%;
  --input: 214.3 31.8% 91.4%;
  --primary-foreground: 210 40% 98%;
  --secondary-foreground: 222.2 47.4% 11.2%;
  --accent: 210 40% 96.1%;
  --accent-foreground: 222.2 47.4% 11.2%;
  --destructive: 0 84.2% 60.2%;
  --destructive-foreground: 210 40% 98%;
  --ring: 222.2 84% 4.9%;
  --radius: 0.5rem;
  --vis-tooltip-background-color: none !important;
  --vis-tooltip-border-color: none !important;
  --vis-tooltip-text-color: none !important;
  --vis-tooltip-shadow-color: none !important;
  --vis-tooltip-backdrop-filter: none !important;
  --vis-tooltip-padding: none !important;
  --vis-primary-color: var(--primary);
  /* change to any hsl value you want */
  --vis-secondary-color: 160 81% 40%;
  --vis-text-color: var(--muted-foreground);
}

.dark {
  --background: 222.2 84% 4.9%;
  --foreground: 210 40% 98%;
  --muted: 217.2 32.6% 17.5%;
  --muted-foreground: 215 20.2% 65.1%;
  --popover: 222.2 84% 4.9%;
  --popover-foreground: 210 40% 98%;
  --card: 222.2 84% 4.9%;
  --card-foreground: 210 40% 98%;
  --border: 217.2 32.6% 17.5%;
  --input: 217.2 32.6% 17.5%;
  --primary: 210 40% 98%;
  --primary-foreground: 222.2 47.4% 11.2%;
  --secondary: 217.2 32.6% 17.5%;
  --secondary-foreground: 210 40% 98%;
  --accent: 217.2 32.6% 17.5%;
  --accent-foreground: 210 40% 98%;
  --destructive: 0 62.8% 30.6%;
  --destructive-foreground: 210 40% 98%;
  --ring: 212.7 26.8% 83.9%;
}

#app {
  margin: 0 auto;
  font-weight: normal;
}

body {
  font-size: 1rem;
  background-color: white;
  font-family: "Poppins", sans-serif;
  color: var(--dark-blue);
}

html.dark body {
  background-color: var(--dark-blue);
  color: white;
}

h1 {
  font-size: 2.5rem;
  font-weight: bold;
  margin: 1rem 0;
  text-transform: uppercase;
}

header h1 {
  font-size: 1.5rem;
  margin: 0;
}

article:not(.card) header {
  @apply mb-12;
}
article:not(.card) h2 {
  @apply text-3xl font-medium mb-6;
}
article:not(.card) h3 {
  @apply text-2xl font-medium mb-6;
}
article:not(.card) p {
  @apply mb-4 leading-loose tracking-wide;
}
article:not(.card) ul, article:not(.card) ol {
  @apply list-outside pl-6 mb-6;
}
article:not(.card) ul {
  @apply list-disc;
}
article:not(.card) ol {
  @apply list-decimal;
}
article:not(.card) li {
  @apply mb-2 leading-loose tracking-wide;
}

article.card .article-preview p {
  @apply text-ellipsis overflow-hidden;
}

b {
  @apply font-semibold;
}

/* tags */
@layer components {
  .switch {
    @apply relative inline-block w-14 h-8;
  }
  .switch input {
    @apply opacity-0 w-0 h-0;
  }
  .slider {
    @apply absolute cursor-pointer top-0 left-0 right-0 bottom-0 bg-secondary transition duration-500;
  }
  .slider:before {
    background-image: url("/public/sun.svg");
    background-size: 1.5rem;
    background-repeat: no-repeat;
    background-position: center;
  }
  .slider:before {
    @apply absolute content-[""] h-6 w-6 left-1 bottom-1 bg-white transition duration-500;
  }
  #dark-mode-toggle.dark .slider {
    @apply bg-dark-blue;
  }
  #dark-mode-toggle:focus + .slider {
    @apply shadow;
  }
  #dark-mode-toggle.dark .slider:before {
    @apply translate-x-6;
  }
  #dark-mode-toggle.dark .slider:before {
    background-image: url("/public/moon-stars.svg");
  }
  /* Rounded sliders */
  .slider.round {
    @apply rounded-full;
  }
  .slider.round:before {
    @apply rounded-full;
  }
}
@layer components {
  .btn {
    @apply flex-shrink-0 font-medium rounded-md text-base gap-x-2.5 px-3.5 py-2.5 shadow-sm inline-flex;
  }
  .btn--primary {
    @apply bg-primary hover:bg-primary-light text-white dark:text-gray-900;
  }
  .btn--cancel {
    @apply text-gray-400 hover:text-dark-blue-dark dark:text-gray-500 dark:hover:text-white hover:drop-shadow-2xl;
  }
  .btn--danger {
    @apply bg-danger hover:bg-danger-light text-white dark:text-gray-900;
  }
  .btn--disabled {
    @apply bg-gray-200 text-gray-400 dark:bg-gray-800 dark:text-gray-500 cursor-not-allowed hover:bg-gray-200 hover:text-gray-400 dark:hover:text-gray-500 dark:hover:bg-gray-800;
  }
}
@layer components {
  .menu-link {
    @apply font-medium hover:text-secondary-light dark:hover:text-dark-blue;
  }
  .menu-item {
    @apply flex justify-center items-center h-12 text-center min-w-24 bg-primary hover:bg-primary-light;
  }
  .menu-item .menu-subitem {
    @apply px-2 z-10 relative;
  }
  li:hover > .menu-submenu, .menu-submenu:hover {
    @apply lg:top-12 block pt-4;
  }
  ul.menu-submenu {
    @apply hidden transition-all duration-300;
  }
  .menu-subitem:nth-child(1):before {
    @apply absolute top-0 left-1/2 -mt-2 w-4 h-4 bg-primary transform -translate-x-1/2 rotate-45 z-0;
    content: "";
  }
  .menu-subitem:nth-child(1):before:hover {
    @apply bg-primary-light;
  }
}
@layer components {
  .card {
    @apply divide-y divide-gray-200 dark:divide-gray-800
    dark:bg-dark-blue-dark rounded-md
    ring-1 ring-gray-200 dark:ring-gray-800 hover:ring-gray-300 dark:hover:ring-gray-700;
  }
  .card--content {
    @apply xl:px-4 xl:py-5 sm:p-6;
  }
  .card--footer {
    @apply xl:px-4 xl:py-2 sm:p-6 bg-secondary-light dark:bg-[#0c0816];
  }
}
@layer components {
  .tag {
    @apply flex items-center border rounded-md w-min px-2 py-1 text-xs font-semibold;
  }
}
@layer components {
  .modal {
    @apply absolute m-auto top-1/3 left-0 right-0 w-1/4 min-h-44
    bg-white dark:bg-dark-blue-dark shadow-lg rounded-md p-4
    flex flex-col justify-between items-center
    ring-1 ring-inset ring-gray-300 dark:ring-gray-700;
  }
  .modal--md {
    @apply w-1/3;
  }
  .modal footer {
    @apply border-t border-gray-300 dark:border-gray-700 w-full flex justify-between items-center p-2;
  }
  .message--success {
    @apply text-green-500 dark:text-green-400;
  }
  .message--error {
    @apply text-red-500 dark:text-red-400;
  }
}
@layer components {
  .form {
    @apply bg-white dark:bg-dark-blue-dark shadow-md rounded-lg p-4 flex flex-col lg:flex-row lg:flex-wrap justify-between px-8 border-t border-t-gray-50 dark:border-t-gray-800;
  }
  .form-item {
    @apply mb-4 flex flex-col w-full lg:w-4/5;
  }
  .form-item label {
    @apply font-semibold pl-2 mb-2;
  }
  .form-item input, .form-item textarea, .form-item select {
    @apply p-2 rounded-lg dark:bg-dark-blue border border-gray-200 dark:border-gray-800 lg:w-1/2;
  }
  .form-item.col-0 {
    @apply w-full items-center;
  }
  .form-item.col-0 label, .form-item.col-0 input, .form-item.col-0 textarea, .form-item.col-0 select {
    @apply w-1/2;
  }
  .form-item.col-2 {
    @apply w-full lg:w-[40%];
  }
  .form-item.col-2 label, .form-item.col-2 input, .form-item.col-2 textarea, .form-item.col-2 select {
    @apply w-full;
  }
}

/*# sourceMappingURL=main.css.map */
